In [1]:
import pandas as pd
poll=pd.read_csv('election_data.csv')

In [2]:
# The total number of votes cast
# A complete list of candidates who received votes
# The percentage of votes each candidate won
# The total number of votes each candidate won
# The winner of the election based on popular vote.
poll.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [6]:
# The total number of votes cast
pum=poll['Voter ID'].nunique()
poll['Voter ID'].count()
# They're the same.

3521001

In [11]:
# A complete list of candidates who received votes
# The total number of votes each candidate won
poll['Candidate'].value_counts()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [22]:
# The percentage of votes each candidate won
pov=poll['Candidate'].value_counts()
pcv=pov.reset_index()
pcv['Percentage'] = 100 * pcv['Candidate']/pum
pcv

      index  Candidate  Percentage
0      Khan    2218231   63.000011
1    Correy     704200   19.999994
2        Li     492940   13.999996
3  O'Tooley     105630    2.999999